
.panel{
     margin-top: 10%;
     width: 75%;
     height: 20%;
     float: left;
 }

.newpas{
    margin-left: 5%;
}

.ToMain {
    margin-top: 3%;
}

.ToMain a{
    text-decoration: none;
    color: #2e3436;
    font-size: 300%;
    width: 18%;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    background: rgba(105, 255, 171, 0.29);
}
.ToMain a:hover{
    text-decoration: none;
    color: #2e3436;
    font-size: 300%;
    width: 18%;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    background: rgba(32, 194, 126, 0.48);
}

.bttn{
    border-radius: 8px;
    padding: 3px 40px;
    font-size: 15px;
    margin-left: 25%;
    text-align: center;
}

.err404{
    margin-top: 15%;
    text-align: center;
}

.error404{
    font-size: 800%;
}
.eror404{
    font-size: 600%;
}
.bd{
    background:url('/img/error/4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.bdy{
    background:url('/img/error/auth.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.errorAuth{
    font-size: 500%;
    text-align: center;
}

.Auth{
    float: left;
    margin-left: 13%;
    margin-top: 15%;
    text-align: center;
}

.ToMainAuth{
    margin-top: 5%;
}

.ToMainAuth a{
    text-decoration: none;
    color: #2e3436;
    font-size: 300%;
    width: 18%;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    background: rgba(80, 255, 149, 0.29);
}

.ToMainAuth a:hover{
    text-decoration: none;
    color: #2e3436;
    font-size: 300%;
    width: 18%;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    background: rgba(47, 194, 116, 0.48);
}