@import url("main_layout.css");


.center-block{
    width: 90%;
}

.block-heading {
    position: relative;
    font-size: 23px;
    margin-bottom: 15px;
    padding: 15px;

}

.block-heading:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #25b882;
    z-index: -1;
}
.block-heading span {
    background: white;
    padding: 0 20px;
    color: #000000;
}