@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css");

html, body{
    height: 100%;
}

#app-layout {
    font-family: 'Fira Sans', sans-serif;
}

.fa-btn {
    margin-right: 6px;
}

.navbar{
    height: 55px;
    background: #303030;
    color: #fff;
}

#logo {
    height: 40px;
}

.navbar-brand{
    padding: 6px;
}

#entry-button{
    margin-left: 66px;
    margin-top: 9px;
    padding: 5px 30px;
    color: #FFFFFF;
}

#entry-button{
    border-radius: 25px;
    border: 3px solid #00b982;
    transition: 0.7s;
}
#entry-button:hover {
    border: 3px solid #fff;
    color: #00b982;
}

#nav-link, #logout-link {
    margin-top: 3px;
}

#logout-link {
    color: #00b982;
}

#nav-link:link {
    color: #fff;
    border-bottom: none;
    transition: 0.7s;
    text-decoration: none;
}
#nav-link:visited {
    color: #fff;
}
#nav-link:hover {
    color: #00b982;
}
#nav-link:active {
    color: #fff;
}

.navbar-fixed-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #303030;
}

.navbar-fixed-bottom .text-muted{
    margin-top: 14px;
}

.wrap {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 80px;
}

#btn-toggle, #btn-toggle:visited{
    color: #fff;
    border-color: #00b982;
    transition: 0.5s;
}

#btn-toggle:hover, #btn-toggle:focus, #btn-toggle:active {
    color: #00b982;
    border-color: #fff;
    background: rgba(0, 0, 0, 0);
}



.div-collapsed-menu{
    font-family: 'Fira Sans', sans-serif;
    transition-delay: 0.3s;
    color: #000000;
    margin-top: 56px;
    right: 0px;
    padding: 10px;
    position: absolute;
    width: 130px;
    border: 1px solid #00b982;
    border-radius: 5px;
    right: 0px;
   /* background: rgba(255, 255, 255, 0.5); */
    background: #303030;
    line-height: 35px;
    font-size: 15px;
    height: 120px;

}

.div-collapsed-menu a:link {
    transition: 0.7s;
    padding: 10px;
}

.div-collapsed-menu a:visited, .div-collapsed-menu a:active, .div-collapsed-menu a:hover {
    color: #00b982;
    text-decoration: none;
}

.div-collapsed-menu a:hover {
    color: #FFFFFF;
}
@media (min-width: 768px) {
    .div-collapsed-menu {
        display: none !important;
    }
}

