.yes-no-modal .modal-header, .yes-no-modal .modal-footer,
.yes-modal .modal-header, .yes-modal .modal-footer{
    background-color: #f9f9f9;
    padding:7px 30px;
}

.yes-no-modal .modal-body, .yes-modal .modal-body{
    padding: 30px;
}

.yes-modal .btn{
    margin: 0 auto;
}

.info-modal .modal-header{
    background-color: #00b982;
    font-size: 30px;
    color: white !important;
    padding: 20px 50px;
    text-align: center;
}

.info-modal .close{
    font-size: 30px;
    color: white !important;
}

.info-modal .modal-body{
    padding:40px 50px;
}

@media only screen and (max-width: 992px) {
    .yes-no-modal, .yes-modal {
        margin: 0 auto;
        width: 50%;
    }
}