.form-horizontal{
    width: 55%;
    margin: 0 auto;
}

label[for=optionWebmaster]{
    margin-right: 50px;
}

#mark{
    text-align: left; !important;
    font-size: 10px;
    font-weight: normal;
}

.form-control {
    width: 90%;
}

.radio {
    text-align: center;
}