.webmaster-main{
    padding-top: 8px;
}

#webmaster-h3{
    padding-bottom: 10px;
    padding-left: 15px;
}

.tab-pane{
    padding-top: 10px;
}

.contact-info-span{
    position: absolute;
}

.btn-msg{
    margin-top: 15px;
}

.webmaster-profile-container h3{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-balance{
    margin-left: 100px;
}

.balance-info{
    margin-bottom: 40px;
    margin-top: 15px;
}

.dl-horizontal {
    margin-bottom: 0px;
}

.dl-horizontal dt{
    width: 100px; /* Ширина для текста */
    text-align: left; /* Выравнивание по правому краю */
    padding-right: 8px; /* Отступ справа */
    min-height: 1px; /* Минимальная высота */
}

.dl-horizontal dd{
    position: relative; /* Относительное позиционирование */
    top: -1px; /* Смещаем поля вверх */
    margin-left: 80px; !important;
}

.dl-banner {
    margin-bottom: 0px;
}

.dl-banner dt{
    width: 300px; /* Ширина для текста */
    text-align: left; /* Выравнивание по правому краю */
    padding-right: 8px; /* Отступ справа */
    min-height: 1px; /* Минимальная высота */
}

.dl-banner dd{
    position: relative; /* Относительное позиционирование */
    top: -1px; /* Смещаем поля вверх */
    margin-left: 80px; !important;
}

.contact-info{
    float:left;
    width:60%;
}

.button-right{
    margin-top: 10px;
}

.webmaster-head{
    width:80%;
}

.banner-applications-table{
    margin-top: 20px;
    text-align: center;
    width: 80%;
}

.table-button{
    width: 15%;
}


.profile-head-container{
    margin-left: -10px;
}




@media only screen and (max-width: 992px) {
    .dl-horizontal dd{
        margin-left: 0px; !important;
    }
    .buttons-right {
        margin-top: 5px; !important;
        width: 250px; !important;
    }
}

.panel{
    width: 95%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.11), 0 1px 1px rgba(0, 0, 0, 0.12);
}

.table-responsive{
    width: 100%;
}
.table th{
    background-color: #00b982;
    color: white;
}
@media (max-width: 580px){
    .btn-mysites{
        width: 100%;
    }
}
/*my_sites*/
.first-level tr th{
    background-color: #00b982;
    color: white;
}
.second-level{
    background-color: rgba(220, 220, 220, 0.32);
}
.third-level{
    background-color:rgba(189, 195, 199, 0.6) ;
}
#second-level {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.41);
}
#second-level tr th{
background-color: #5e5e5e;

}
#third-level{
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
#third-level tr th{
 background-color: #34495e;
}
#third-level #third{
    background-color: rgba(189, 195, 199, 0.6);
}
#report #first-level{
    cursor: pointer;
    transition: 0.2s ease;
}
#report #first-level:hover{
    background-color: rgba(0, 185, 130, 0.11);
}
#report .second-level tr td {
    cursor: pointer;
}
#second-level #second{
    background-color: rgba(220, 220, 220, 0.32);
    transition: 0.2s ease;
}
#second-level #second:hover{
    background-color: rgba(94, 94, 94, 0.25);
}
#report .third-level tr th{
    cursor: default;
}
#report .third-level tr td{
    cursor: default;
}
.arrow {
    background:transparent no-repeat scroll 0px -16px;
    width:16px;
    height:16px;
    display:block;
    transition: 0.2s ease;
}
#report div.up { background-position:0px 0px;}

#pagination {
    margin-left: 35%;
}

.pagination {
    margin-top: 0;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
}

ul.pagination li a.active {
    border-radius: 5px;
    background-color: black;
}

ul.pagination li a:hover {
    color: black;
    background-color: #ddd;
}

.pagination .active a:hover {
    color: #999999;
    background-color: transparent;
    border-color: #00b982;
}

.pagination .active a {
    background-color: white;
    color: black;
    cursor: default;
    border-color: #00b982;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover
{
    color: #999999;
    background-color: transparent;
    cursor: default;
}

