.item{
    height: 700px;
}
.slide{
    height: 100%;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#first{
    background-image: url(http://dummyimage.com/1280x720/696969/ffffff&text=One);
}
#second{
    background-image: url(http://dummyimage.com/1280x720/696969/ffffff&text=Two);
}
#third{
    background-image: url(http://dummyimage.com/1280x720/696969/ffffff&text=Three);
}
#header{
    height: 53px;
    border-bottom-color: #303030;
}
#myCarousel{
    margin-top: -50px;
}
.content{
    background-color: #303030;
}
.headline{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10%;
    color: white;
    border-bottom: none;
}
.headline h1{
    font-size: 35pt;
}
.begin_button{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 75%;
}
#begin_work_button{
    text-decoration: none;
    padding: 20px 70px;
    color: #FFFFFF;
    font-size: 20pt;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#begin_work_button{
    border-radius: 25px;
    border: 3px solid #00b982;
    background-color:#00b982 ;
    transition: 0.2s;
}
#begin_work_button:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.service{
    height: 700px;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
}
.service_row{
    padding-top: 10%;
}
.service_row p{
    padding-top: 1%;
    font-size: 14pt;
}
.installation_steps{
    height: 700px;
    width: 100%;
    text-align: center;
    color: #ffffff;

}
.installation_steps_row{
    padding-top: 5%;
}
.installation_steps_row p{
    padding-top: 1%;
    font-size: 14pt;
}
.installation_steps_header{
    padding-top: 3%;
}
.map{
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
}
.map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.panel{
    position: absolute;
    top:15%;
    border-radius: 0;
    width: 400px;
    height: 300px;
    background-color:#303030;
    opacity: 0.97;
    color: #ffffff;
}
#contacts{
    color: #00b982;
}
.navbar-fixed-bottom{
    border-top: none;
}
@media only screen and (max-width: 995px) {
    .service{
        height: auto;
    }
    .installation_steps{
        height: auto;
    }
    .panel{
        height: auto;
        width: auto;
    }
}
@media only screen and (max-width: 327px){
    #begin_work_button{
        padding: 20px 50px;
    }
}
@media only screen and (max-width: 1024px) {
    .begin_button{
        top: 65%
    }
}
@media only screen and (max-height: 415px){
    .begin_button{
        top:35%;
    }

}